name: Build and Push Wazuh Manager ARM64 Image

on:
  workflow_dispatch:
    inputs:
      docker_image_tag:
        description: "Tag name for Docker image"
        required: false
        default: "latest"
      architecture:
        description: "Architecture"
        required: true
        default: "arm64"
      system:
        description: "System type"
        required: true
        default: "deb"
      source_reference:
        description: "Branch from wazuh/wazuh to build from"
        required: true
        default: "v4.14.0"

jobs:
  build-and-push:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 120

    steps:
      - name: Checkout Wazuh Source
        uses: actions/checkout@v4
        with:
          repository: wazuh/wazuh
          ref: ${{ inputs.source_reference }}

      - name: Set Tag
        run: echo "TAG=latest" >> $GITHUB_ENV

      - name: Prepare Docker Context
        run: |
          context_path="packages/${{ inputs.system }}s/${{ inputs.architecture }}/manager"
          echo "CONTEXT_PATH=$context_path" >> $GITHUB_ENV
          cp packages/build.sh $context_path/
          cp packages/${{ inputs.system }}s/utils/* $context_path/

      - name: Build Docker Image
        run: |
          IMAGE_NAME="saii16/pkg_${{ inputs.system }}_manager_builder_${{ inputs.architecture }}"
          TAG=${{ env.TAG }}
          CONTEXT_PATH=${{ env.CONTEXT_PATH }}
          echo "Building image: $IMAGE_NAME:$TAG"
          docker build -t $IMAGE_NAME:$TAG -f $CONTEXT_PATH/Dockerfile $CONTEXT_PATH
